src/aiconfigurator/systems/**/*.txt filter=lfs diff=lfs merge=lfs -text
src/aiconfigurator/systems/**/INCOMPLETE.txt -filter -diff -merge text
src/aiconfigurator/systems/**/*.parquet diff=parquet -text
ATTRIBUTIONS.md filter=lfs diff=lfs merge=lfs -text
